body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: #fff;
}

.tab {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: none;
    background-color: #000000;
}

.tab.active {
    background-color: #C83F61;
    font-weight: bold;
}

.tab-content {
    display: none;
    padding: 20px;
    background-color: #000000;
}

.tab-content.active {
    display: block;
}

.home-image {
    width: 650px; 
    height: auto;
    border: 5px solid #ccc;
    display: block;
    margin: 100px auto; 
    max-width: 100%; 
    position: relative; 
    left: 350px; 
    top: -30px; 
}

h1 {
    position: absolute;
    top: 15%;         
    right: 730px;       
    transform: translateY(-50%); 
    font-size: 100px;
    font-family: Arial black;
}

h2 {
    position: absolute;
    top: 37%;         
    right: 734px;       
    transform: translateY(-50%); 
    font-size: 22px;
    font-family: Arial ;
    text-align: right;
}

.download-btn {
    padding: 15px 15px;
    background-color: #C83F61;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
}


.windows-btn {
    top: 550px;   
    right: 350px; 
}


.ios-btn {
    top: 550px;   
    right: 580px; 
}


.download-btn:hover {
    background-color: #b03e54;
}
.creative-sync, .aicore {
    width: 100px;  
    height: auto; 
    margin: 7px; 
    margin: 170px auto;
}